<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <!-- <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div> -->

    <div class=" row text-center">

        <!-- LOCAL INFORMATION -->
        <div class="text-center">
          <div class="page-header">
            <h1 >Pomodoro Goodness</h1>
            <div class="well timer">
              <span class="hour">00h</span>
              <span class="minute">00m</span>
              <span class="second">00s</span>
              <span class="millisecond">00ms</span>
              <button id="transparent" type="button" class="timer-btn fa fa-play-circle" aria-hidden="true"></button>
              <button id="transparent" type="button" class="timer-btn fa fa-pause"></button>
           </div>
          </div>
          
        </div>
        <div class="col-sm-6">
          <% if (user.local.email) { %>
            <h4>Add a doro:</h4>
            <form class="form "action="/doros" method="POST">
  
              <div class="form-group">
                <input class="form-control" type="text" placeholder="enter subject" name="topic">
              </div>
              <div class="form-group">
                <select class="form-control" id="duration-input" placeholder="select a time duration" name="duration">
                  <option class="form-control" value="">--choose an option--</option>
                  <option class="form-control" value="15">15 mins</option>
                  <option class="form-control" value="30">30 mins</option>
                  <option class="form-control" value="45">45 mins</option>
                  <option class="form-control" value="60">60 mins</option>
              
                </select>
              </div>
              <div class="form-group">
                <input class="form-control"  type="text" placeholder="enter in reward" name="reward">
              </div>
              <div class="form-group">
                <button cclass="form-control" type="submit">Submit</button>
              </div>
              
            </form>
         
          <% } %>
        </div>
        <!-- <h3>Doros:</h3>
     -->
        <div class="col-sm-6">
          <h4>Completed:</h4>
          <ul class="doros list-group list-group-flush">
          <% for(var i=0; i<doros.length; i++) {%>

            <% if(doros[i].completion === "completed") {%>
              <li class="doro-green list-group-item">
                <span><%= doros[i].topic %></span>
                <span><%= doros[i].duration %></span>
                <span><%= doros[i].reward %></span>
                <span><%= doros[i].completion %></span>
                <span><i class="fa fa-check" aria-hidden="true"></i></span>
                <span><i class="fa fa-eraser" aria-hidden="true"></i></span>
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
              </li>

             <% } %>
          <% } %>
          </ul>
        </div>
       
        <div class="col-sm-6">
          <h4>Uncompleted:</h4>
          <ul class="doros list-group list-group-flush">
          <% for(var i=0; i<doros.length; i++) {%>
  
            <% if(doros[i].completion !== "completed") {%>
              <li class="doro list-group-item">
                <span><%= doros[i].topic %></span>
                <span><%= doros[i].duration %></span>
                <span><%= doros[i].reward %></span>
                <span><%= doros[i].completion %></span>
                <span><i class="fa fa-check" aria-hidden="true"></i></span>
                <span><i class="fa fa-eraser" aria-hidden="true"></i></span>
                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
              </li>

             <% } %>
          <% } %>
          </ul>
        </div>
         
    
       
      

</div>

<script src="main.js" type="module"></script>

</body>
</html>
